
	$defaultHeight: 1136;
	$defaultWidth: 640;
	
	@mixin setBackground($name) {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		background-image: url('../images/#{$name}');
	    background-size: 100% 100%;
	}

	@-webkit-keyframes loading {
		 0%		    { background-position: 0 0;     }
		 12.5%		{ background-position: 48px 0;  }
		 25%		{ background-position: 96px 0;  }
		 37.5%		{ background-position: 144px 0; }
		 50%		{ background-position: 192px 0; }
		 62.5%		{ background-position: 240px 0; }
		 75%		{ background-position: 288px 0; }
		 87.5%		{ background-position: 336px 0; }
		 100%		{ background-position: 384px 0; }
	}

	.loading {
	    display: block;
	    position: absolute;
	    z-index: 2;
	    left: 50%;
	    top: 50%;
	    width: 48px;
	    height: 48px;
	    background: red;
	    // background-image: url('../images/loading.png');
	    // -webkit-animation-duration: 500ms;                        // 指定动画执行周期
	    // -webkit-animation-iteration-count: infinite;              // 指定动画执行次数
	    // -webkit-animation-timing-function: step-start;            // 指定动画执行方式
	    // -webkit-animation-name: loading;                          // 指定执行动画名称
	}

	.selectedSlider {
		-webkit-transform: scale(1.3);
		-webkit-transition: -webkit-transform 0.1s;
		-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);  
		position: relative;
		z-index: 999;
	}

	.unselectSlider {
		-webkit-transform: scale(1);
		-webkit-transition: -webkit-transform 0.1s;
		box-shadow: 0;
		position: relative;
		z-index: 1;
	}

	body, html {
	    width: 100%;
	    height: 100%;
	    margin: 0px;
	    padding: 0px;
	    border: 0px;
	    overflow: hidden;
	}
	/**
	 * 首页
	 */
	#index {
		@include setBackground('index-bg.jpg');
		img {
			width: percentage(107 / $defaultWidth);
			height: percentage(273 / $defaultHeight);
			position: absolute;
			right: percentage(26 / $defaultWidth);
		}
		img:first-child {
			top: percentage(236 / $defaultHeight);
		}
		img:last-child {
			bottom: percentage(262 / $defaultHeight);
		}
	}

	/**
	 * 关卡选择页
	 */
	#choose {
		@include setBackground('choose-bg.png');
		img {
			position: absolute;
		}
		.start-btn {
			img {
				width: percentage(113 / $defaultWidth);
				height: percentage(247 / $defaultHeight);
				top: percentage(32 / $defaultHeight);
			}
		}
		.back-btn {
			img {
				width: percentage(119 / $defaultWidth);
				height: percentage(140 / $defaultHeight);
				bottom: percentage(32 / $defaultHeight);
			}
		}
		.switch {
			img {
				width: percentage(118 / $defaultWidth);
				height: percentage(120 / $defaultHeight);
				position: absolute;
				z-index: 2;
			}
			.prev-map {
				bottom: percentage(110 / $defaultHeight);
				left: percentage(300 / $defaultWidth);
			}
			.next-map {
				top: percentage(110 / $defaultHeight);
				left: percentage(300 / $defaultWidth);
			}
		}
		.thumb-maps {
			button:first-child {
				position: absolute;
				left: 50%;
			}
			img:nth-child(odd) {
				opacity: 0.6;
			}
			.left {
				width: percentage(345 / $defaultWidth);
				height: percentage(301 / $defaultHeight);
				bottom: percentage(32 / $defaultHeight);
				right: percentage(90 / $defaultWidth);
				z-index: 1;
			}
			.middle {
				width: percentage(451 / $defaultWidth);
				height: percentage(405 / $defaultHeight);
				top: percentage(367 / $defaultHeight);
				right: percentage(35 / $defaultWidth);
			}
			.right {
				width: percentage(345 / $defaultWidth);
				height: percentage(301 / $defaultHeight);
				top: percentage(32 / $defaultHeight);
				right: percentage(90 / $defaultWidth);
			}
			button:last-child {
				position: absolute;
				left: 50%;
				bottom: 1%;
			}
		}
	}

	/**
	 * 个人中心页
	 */
	#personal {
		@include setBackground('personal-bg.png');
		.back-btn {
			position: absolute;
			width: percentage(119 / $defaultWidth);
			height: percentage(140 / $defaultHeight);
			bottom: percentage(46 / $defaultHeight);
			img {
				width: 100%;
				height: 100%;
			}
		}
		.user-face {
			display: inline-block;
			padding: 0;
			margin: 0;
			position: absolute;
			top: percentage(62 / $defaultHeight);
			left: percentage(22 / $defaultWidth);
			img {
				transform: rotate(-90deg);
				border: 0;
				padding: 0;
				margin: 0;
				width: 100%;
				height: 100%;
				width: percentage(61 / $defaultWidth);
				height: percentage(61 / $defaultHeight);
			}	
		}
		.played-list {
			height: percentage(1033 / $defaultHeight);
			width: percentage(457 / $defaultWidth);
			position: absolute;
			left: percentage(169 / $defaultWidth);
			bottom: percentage(57 / $defaultHeight);
			overflow-y: hidden;
			overflow-x: auto;
			white-space: nowrap;
			.played {
				display: inline-table;
				width: 31%;
				height: 100%;
				background-image: url('../images/played-bg.png');
				background-size: cover;
				margin-left: percentage(13 / $defaultWidth);
				.time, .name, .map {
					float: left;
					width: 100%;
					height: 33.33%;
					text-align: center;
				}
				.time {
					position: relative;
					.inner {
						position: absolute;
						bottom: 15%;
						left: 35%;
						img {
							float: left;
							width: 55%;
						}
						.miao {
							transform: scale(1.25) !important;
						}
					}
				}
				.name {
					position: relative;
					img {
						position: absolute;
						left: 35%;
						bottom: 25%;
						height: 50%;
					}
				}
				.map {
					img {
						position: relative;
						left: 5%;
						height: percentage(666 / $defaultHeight);
						width: 100%;
					}
				}
			}
			.played:first-child {
				margin-left: 0;
			}
		}
	}

	/**
	 * 游戏页
	 */
	#game {
		@include setBackground('index.png');
		.one-pic {
			img {
				width: 100%;
				height: 100%;
				border: 0;			
			}
		}
		.back-btn {
			position: absolute;
			height: percentage(88 / $defaultHeight);
			width: percentage(88 / $defaultWidth);
	        left: percentage(15 / $defaultWidth);
			bottom: percentage(53 / $defaultHeight);
			img {
				width: 100%;
				height: 100%;
			}
		}
		.time-counter-container {
			height: percentage(152 / $defaultHeight);
			width: percentage(43 / $defaultWidth);
			position: fixed;
			bottom: percentage(196 / $defaultHeight);
			left: percentage(48 / $defaultWidth);
			img {
				float: left;
				width: 100%;
				height: percentage(32 / 153);
			}
			img:nth-child(3) {
				width: 80%;
				height: 10%;
				margin-top: 5%;
				margin-bottom: 5%;
				margin-left: 12%;
			}
		}
		.refresh-container {
	        height: percentage(88 / $defaultHeight);
			width: percentage(88 / $defaultWidth);
	        position: absolute;
	        left: percentage(17 / $defaultWidth);
	        top: percentage(52 / $defaultHeight);
	        img {
			  	border: 0;
			  	width: 100%;
			  	height: 100%;
			}
	    }

	    .pic-container {
	    	img {
	    		width: 100%;
	    		height: 100%;
	    		border: 0;
	    	}
	    }

		// 查看原图按钮
	    .view-origin-map-btn-contianer {
			height: percentage(88 / $defaultHeight);
			width: percentage(88 / $defaultWidth);
	        position: absolute;
	        left: percentage(17 / $defaultWidth);
	        top: percentage(162 / $defaultHeight);
			img {
				border: 0;
			  	width: 100%;
			  	height: 100%;
			}
	    }
	
		.origin-map {
			@include setBackground('origin/1.png');
			display: none;
			position: absolute;
	    	z-index: 2;
	    	.origin-map-close-btn-container {
				height: percentage(88 / $defaultHeight);
				width: percentage(88 / $defaultWidth);
				position: absolute;
				left: percentage(17 / $defaultWidth);
				top: percentage(52 / $defaultHeight);
				img {
					width: 100%;
					height: 100%;
					border: 0;
				}
			}
		}

	}

	// 结果页面
	#result {
        @include setBackground('result.png');
        .btn-container {
        	.share-btn, .replay-btn {
        		width: percentage(92 / $defaultWidth);
        		height: percentage(415 / $defaultHeight);
        		position: absolute;
        		top: percentage(103 / $defaultHeight);
        		img {
        			float: left;
					width: 100%;
					height: 100%;
	        	}
        	}
        	.share-btn {
        		left: percentage(286 / $defaultWidth);
        	}
        	.replay-btn {
        		left: percentage(406 / $defaultWidth);
        	}
        	
        }
        .spend-time, .rank-info {
        	max-height: percentage(159 / $defaultHeight);
        	width: percentage(48 / $defaultWidth);
        	position: absolute;
        	top: percentage(667 / $defaultHeight);
        	img {
        		display: none;
        		float: left;	
        		width: 100%;
        		height: 24%;
        	}
        }
        .spend-time {
        	left: percentage(307 / $defaultWidth);
        }
        .rank-info {
        	left: percentage(430 / $defaultWidth);
        }
	}

	.wrapper {
		width: 100%;
		height: 100%;
		position: relative;
	}


